.proyecto
{
   background-color: cornflowerblue;
   padding: 20px;
   width: 400px;
   text-align: center;
   border-radius: 10px;
   display: inline-block;
}
.proyectos
{
   background-color: lightpink;
   padding: 20px;
   width: 400px;
   height: 100px;
   text-align: center;
   border-radius: 10px;
   display: inline-block;
   
}
input
{
    margin-bottom: 10px;
}