.proyecto
{
   background-color: cornflowerblue;
   padding: 20px;
   width: 400px;
   text-align: center;
   border-radius: 10px;
   display: inline-block;
}
.poemario
{
   background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
   padding: 20px;
   width: 400px;
   height: 100px;
   text-align: center;
   border-radius: 10px;
   display: inline-block;
   
}
input
{
    margin-bottom: 10px;
}
h3 
{
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
}
h1
{
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}
h5
{
   font-family: 'Times New Roman', Times, serif;
   color: aliceblue;

}
p
{
   font-family: Arial, Helvetica, sans-serif;
}